<!DOCTYPE html>
   <!--[if lt IE 7]> <html class="ie ie6 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
   <!--[if IE 7]>    <html class="ie ie7 lt-ie9 lt-ie8"        lang="en"> <![endif]-->
   <!--[if IE 8]>    <html class="ie ie8 lt-ie9"               lang="en"> <![endif]-->
   <!--[if IE 9]>    <html class="ie ie9"                      lang="en"> <![endif]-->
   <!--[if !IE]><!-->
   <html lang="en" class="no-ie">
   <!--<![endif]-->
   
   <head>
      <!-- Meta-->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
      <meta name="description" content="Votes">
      <meta name="keywords" content="vote, election, group, sphere, nominate, decide">
      <meta name="author" content="<%= username %>">
      <!-- Desktop Browsers -->
      <link rel="shortcut icon" type="image/x-icon" href="assets/icons/favicon.ico" />
      
      <!-- Android: Chrome M39 and up-->
      <link rel="manifest" href="assets/icons/manifest.json">
      <!-- Android: Chrome M31 and up, ignored if manifest is present-->
      <meta name="mobile-web-app-capable" content="yes">
      <link rel="icon" sizes="192x192" href="assets/icons/icon-192x192.png">
      <!-- iOS -->
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-title" content="Represent.xyz">
      
      <link rel="apple-touch-icon" sizes="180x180" href="assets/icons/apple-touch-icon-180x180-precomposed.png">
      <link href="assets/icons/apple-touch-icon-152x152-precomposed.png" sizes="152x152" rel="apple-touch-icon">
      <link href="assets/icons/apple-touch-icon-144x144-precomposed.png" sizes="144x144" rel="apple-touch-icon">
      <link href="assets/icons/apple-touch-icon-120x120-precomposed.png" sizes="120x120" rel="apple-touch-icon">
      <link href="assets/icons/apple-touch-icon-114x114-precomposed.png" sizes="114x114" rel="apple-touch-icon">
      <link href="assets/icons/apple-touch-icon-76x76-precomposed.png" sizes="76x76" rel="apple-touch-icon">
      <link href="assets/icons/apple-touch-icon-72x72-precomposed.png" sizes="72x72" rel="apple-touch-icon">
      <link href="assets/icons/apple-touch-icon-60x60-precomposed.png" sizes="60x60" rel="apple-touch-icon">
      <link href="assets/icons/apple-touch-icon-57x57-precomposed.png" sizes="57x57" rel="apple-touch-icon">
      <link href="assets/icons/apple-touch-icon-precomposed.png" rel="apple-touch-icon">
      
      <!-- Windows 8 and IE 11 -->
      <meta name="msapplication-config" content="assets/icons/browserconfig.xml" />
      
      <!-- Windows -->
      <meta name="application-name" content="Represent.xyz" />
      <meta name="msapplication-tooltip" content="Let's Make Decisions Together!" />
      <meta name="msapplication-window" content="width=1024;height=768" />
      <meta name="msapplication-navbutton-color" content="#007EFF" />
      <meta name="msapplication-starturl" content="./" />
      <title>Represent.xyz | My Votes</title>
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
      <!-- Bootstrap CSS-->
      <link rel="stylesheet" href="admin/app/css/bootstrap.css">
      <!-- Vendor CSS-->
      <link rel="stylesheet" href="admin/app/vendor/fontawesome/css/font-awesome.min.css">
      <!-- START Page Custom CSS-->
      <!-- END Page Custom CSS-->
      <!-- App CSS-->
      <link rel="stylesheet" href="admin/app/css/app.css">
      <!-- JavaScript Files -->
      <!-- JQuery -->
      <script src="admin/app/vendor/jquery/jquery.min.js"></script>
      <script src="admin/app/vendor/moment/min/moment.min.js"></script>
   </head>
<body class="">
   <div id="fb-root"></div>
   <% include /settings %>
   <!-- START Main wrapper-->
      <section class="wrapper">
         <!-- START Top Navbar-->
         <nav role="navigation" class="navbar navbar-default navbar-top navbar-fixed-top">
            <!-- START navbar header-->
            <div class="navbar-header">
               <a href="#" class="navbar-brand">
                  <div class="brand-logo">Votes</div>
                  <div class="brand-logo-collapsed"><em class="fa fa-check"></em></div>
               </a>
            </div>
            <!-- END navbar header-->
            <!-- START Nav wrapper-->
            <div class="nav-wrapper">
               <!-- START Left navbar-->
               <ul class="nav navbar-nav">
                  <li>
                     <a href="#" data-toggle="aside">
                        <em class="fa fa-align-left"></em>
                     </a>
                  </li>
               </ul>
               <!-- END Left navbar-->
               <!-- START Right Navbar-->
               <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                           <a href="javascript:void(0);" data-toggle="dropdown" data-play="bounceIn" class="dropdown-toggle" aria-expanded="false">
                              <em class="fa fa-user"></em>
                           </a>
                           <!-- START Dropdown menu-->
                           <ul class="dropdown-menu" style="">
                              <li style="padding: 20px 10px;"><a href="/me">
                                 <em class="fa fa-cog text-muted"></em>Settings</a>
                              </li>
                              <li style="padding: 20px 10px;"><a href="/logout">
                                 <em class="fa fa-sign-out text-muted"></em>Logout</a>
                              </li>
                           </ul>
                           <!-- END Dropdown menu-->
                        </li>
                  <!-- END Alert menu-->
                  <!-- END User menu-->
                  <!-- START Contacts button-->
                  <!-- <li>
                     <a href="#" data-toggle="offsidebar">
                        <em class="fa fa-align-right"></em>
                     </a>
                  </li> -->
                  <!-- END Contacts menu-->
               </ul>
               <!-- END Right Navbar-->
            </div>
            <!-- END Nav wrapper-->
         </nav>
         <aside class="aside">
         <!-- START Sidebar (left)-->
         <nav class="sidebar" style="overflow: auto;">
            <ul class="nav">
               <!-- START user info-->
               <li>
                  <div class="item user-block" id="userProfile">
                     <!-- User picture-->
                     <% if(userprofileimageurl !== null) { %>
                     <div class="user-block-picture">
                        <img src="<%= userprofileimageurl %>" alt="<%= username %>" width="60" height="60" class="img-thumbnail img-circle">
                     </div>
                     <% } %>
                     <!-- Name and Role-->
                     <div class="user-block-info">
                        <span class="user-block-name"><%= username %></span>
                     </div>
                  </div>
               </li>
               <!-- END user info-->
               <!-- START Menu-->
               <li class="">
                  <a href="/spheres" title="spheres">
                     <em class="fa fa-circle"></em>
                     <div class="label label-primary pull-right"><%= numberofuserspheres %></div>
                     <span class="item-text" style="padding-right: 15px;">Spheres</span>
                  </a>
               </li>
               <li class="">
                  <a href="/votes" title="votes">
                     <em class="fa fa-star"></em>
                     <div class="label label-primary pull-right"><%= numberofuservotescast %></div>
                     <span class="item-text" style="padding-right: 15px;">Votes</span>
                  </a>
               </li>
               <li class="">
                  <a href="/admin" title="admin">
                     <em class="fa fa-lock"></em>
                     <div class="label label-primary pull-right"><%= numberofadminactionitems %></div>
                     <span class="item-text" style="padding-right: 15px;">Admin</span>
                  </a>
               </li>
               <li class="">
                  <a href="/decisions" title="decisions">
                     <em class="fa fa-compass"></em>
                     <div class="label label-primary pull-right"><%= numberofdecisions %></div>
                     <span class="item-text" style="padding-right: 15px;">Decisions</span>
                  </a>
               </li>
               <!-- END Menu-->
               <!-- Sidebar footer -->
               <li class="nav-footer">
                  <div class="nav-footer-divider"></div>
                  <!-- START button sphere-->
                  <div class="btn-sphere text-center">
                     <a href="/me" type="button" data-toggle="tooltip" data-title="Settings" class="btn btn-link">
                        <em class="fa fa-cog text-muted"></em>
                     </a>
                     <a href="/logout" type="button" data-toggle="tooltip" data-title="Logout" class="btn btn-link">
                        <em class="fa fa-sign-out text-muted"></em>
                     </a>
                  </div>
                  <!-- END button sphere-->
               </li>
            </ul>
         </nav>
         <!-- END Sidebar (left)-->
      </aside>
      <!-- End aside-->
      <!-- START Main section-->
      <section>
         <!-- START Page content-->
         <section class="main-content" style="min-height: 600px;">
            <h1 style="text-align: center;">My Activity</h1>
            <!-- START timeline-->
            <ul class="timeline" id="listofnotifications">
            <%
               if(activeuservotescast.length > 0) {
                  for(var i=0; i < activeuservotescast.length; i++) {
                     if((i == 0) || ((i % 2) == 0)) {
                        var leftright = "left";
                        var inverted = "";
                     } else {
                        var leftright = "right";
                        var inverted = "timeline-inverted";
                     }
                     var activeuservotecast = activeuservotescast[i];
                     var endofelection = activeuservotecast['electionEndDate'];
                     var endofelectionunixmilliseconds = endofelection.getTime();
                     var endofelectionunixseconds = (endofelectionunixmilliseconds / 1000);
                     var updatedat = activeuservotecast['updatedAt'];
                     var updatedatunixmilliseconds = updatedat.getTime();
                     var updatedatunixseconds = (updatedatunixmilliseconds / 1000);
                     var voteobjectid = activeuservotecast['voteObjectID'];
                     var numberofvotescast = activeuservotecast['votes'];
                     var voteoreval = activeuservotecast['voteoreval'];
                     var rangedefinition = activeuservotecast['rangedefinition'];
                     if(rangedefinition == "zerototen") {
                        var rangemax = "10";
                     } else if(rangedefinition == "zerotohundred") {
                        var rangemax = "100";
                     }
                     var pagename = activeuservotecast['nominationName'];
                     var sphereobjectid = activeuservotecast['sphereObjectID'];
                     var spherename = activeuservotecast['sphereName'];
                     var electionobjectid = activeuservotecast['electionObjectID'];
                     var electionname = activeuservotecast['electionName'];
                     var nominationobjectid = activeuservotecast['nominationObjectID'];
                     var nominationdescription = activeuservotecast['nominationDescription'];
               %>
               <li class="<%= inverted %>">
                  <div class="timeline-badge primary">
                      <em class="fa fa-star"></em>
                  </div>
                  <div class="timeline-date electionendsdiv">
                      Election ends <time class="endofelection" data-endofelection="<%= endofelectionunixseconds %>" datetime=""></time>
                  </div>
                  <div class="timeline-panel">
                     <div class="popover <%= leftright %>">
                         <div class="arrow"></div>
                         <div class="pull-right deletevoteform">
                               <span style="cursor: pointer; border: none; background-color: #fff;" class="deleteActiveUserVoteButton" data-sphereobjectid="<%= sphereobjectid %>" data-electionobjectid="<%= electionobjectid %>" data-nominationobjectid="<%= nominationobjectid %>" data-voteobjectid="<%= voteobjectid %>">x</span>
                         </div>
                         <div class="pull-left">
                            <% if(voteoreval == "vote") { %>
                                 <h2 class="popover-title">Cast 
                                 <% if(numberofvotescast > 1) { %> <%= numberofvotescast %> votes <% } else { %> a vote <% } %> for <%= pagename %>
                                 <time class="votecastdatetime" data-updatedat="<%= updatedatunixseconds %>" datetime=""></time>
                                 </h2>
                            <% } else if (voteoreval == "evaluation") { %>
                                 <h2 class="popover-title">Gave <%= pagename %> an evaluation of 
                                 <% if(numberofvotescast > 1) { %> <%= numberofvotescast %> of <%= rangemax %><% } else { %> zero of <%= rangemax %> <% } %>
                                 <time class="votecastdatetime" data-updatedat="<%= updatedatunixseconds %>" datetime=""></time>
                                 </h2>
                            <% } %>
                         </div>
                         <div class="clearfix"></div>
                         <div class="popover-content">
                            <p>
                               <a href="/sphere/<%= sphereobjectid %>"><%= spherename %></a>
                               <em><i class="fa fa-level-down"></i></em>
                               <a href="/sphere/<%= sphereobjectid %>/election/<%= electionobjectid %>"><%= electionname %></a>
                               <em><i class="fa fa-level-down"></i></em>
                               <a href="/sphere/<%= sphereobjectid %>/election/<%= electionobjectid %>/nomination/<%= nominationobjectid %>"><%= pagename %></a>
                            </p>
                         </div>
                     </div>
                  </div>
               </li>
               <%
               } 
            } else {
               %>
               <li>
                  <div class="timeline-badge primary">
                      <em class="fa fa-star"></em>
                  </div>
                  <div class="timeline-date">
                      <time id="novotesnow" data-endofelection="" datetime=""></time>
                  </div>
                  <div class="timeline-panel">
                     <div class="popover left">
                         <div class="arrow"></div>
                         <h2 class="popover-title"></h2>
                         <div class="popover-content">
                            <p>Let's make decisions together!</p>
                         </div>
                     </div>
                  </div>
               </li>
               <%
            }
               %>
            </ul>
            <!-- END timeline -->
         </section>
         <!-- END Page content -->
      </section>
      <!-- END Main section -->
   </section>
   <!-- END Main wrapper -->
   <!-- START Scripts -->
   <script>
      $(document).ready(function() {
         $("#inviteFriends").click(function() {
            window.top.location.href = 'https://www.facebook.com/dialog/apprequests?app_id=487409348027542&message=Have%20You%20Checked%20Your%20Stats%20Recently%3F&redirect_uri=https://www.represent.xyz/profile';
         });
         $("#userProfile").click(function() {
            window.location.href = '/profile';
         });
      });
   </script>
   <!-- Main vendor Scripts -->
   <script src="admin/app/vendor/bootstrap/js/bootstrap.min.js"></script>
   <!-- App Main-->
   <script src="admin/app/js/profile.js"></script>
   <script>
      $(document).ready(function(){
         moment().unix();
         $(".endofelection").each(function(){
            $(this).attr("datetime", moment.duration(($(this).data("endofelection") - moment().unix()), "s").humanize(true));
         });
         $("#novotesnow").attr("datetime", moment().local().format('L hh:mm a'));
         $(".votecastdatetime").each(function(){
            $(this).text(moment.duration(($(this).data("updatedat") - moment().unix()), "s").humanize(true));
         });
         if($(document).width() < 700) {
           $("#listofnotifications").removeClass("timeline").css("list-style-type", "none");
           $(".timeline-badge").hide();
           $(".electionendsdiv").hide();
           $(".deletevoteform").hide();
           $(".timeline-panel").removeClass();
           $(".popover").removeClass();
           $(".arrow").hide();
           $(".popover-title").removeClass();
           $(".popover-content").removeClass();
         }
         $(".deleteActiveUserVoteButton").one("click", function() {
             if (!confirm("Do you want to delete this vote?")){
                   return false;
             } else {
                 $.post("/votes/takevoteback", 
                    { sphereObjectID: $(this).data("sphereobjectid"),
                      electionObjectID: $(this).data("electionobjectid"),
                      nominationObjectID: $(this).data("nominationobjectid"),
                      voteObjectID: $(this).data("voteobjectid") 
                    },
                    function()
                        { 
                            location.reload(true);
                        }
                  );
            }
         });
      });
   </script>
   </body>
 
</html>