<!DOCTYPE html>
   <!--[if lt IE 7]> <html class="ie ie6 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
   <!--[if IE 7]>    <html class="ie ie7 lt-ie9 lt-ie8"        lang="en"> <![endif]-->
   <!--[if IE 8]>    <html class="ie ie8 lt-ie9"               lang="en"> <![endif]-->
   <!--[if IE 9]>    <html class="ie ie9"                      lang="en"> <![endif]-->
   <!--[if !IE]><!-->
   <html lang="en" class="no-ie">
   <!--<![endif]-->
   
   <head>
      <!-- Meta-->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
      <meta name="description" content="Send Emails to <%= spherename %>">
      <meta name="keywords" content="vote, election, group, sphere, nominate, decide">
      <meta name="author" content="William Buckley Mower">
      <!-- Desktop Browsers -->
      <link rel="shortcut icon" type="image/x-icon" href="../../../../assets/icons/favicon.ico" />
      
      <!-- Android: Chrome M39 and up-->
      <link rel="manifest" href="../../../../assets/icons/manifest.json">
      <!-- Android: Chrome M31 and up, ignored if manifest is present-->
      <meta name="mobile-web-app-capable" content="yes">
      <link rel="icon" sizes="192x192" href="../../../../assets/icons/icon-192x192.png">
      <!-- iOS -->
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-title" content="Represent.xyz">
      
      <link rel="apple-touch-icon" sizes="180x180" href="../../../../assets/icons/apple-touch-icon-180x180-precomposed.png">
      <link href="../../../../assets/icons/apple-touch-icon-152x152-precomposed.png" sizes="152x152" rel="apple-touch-icon">
      <link href="../../../../assets/icons/apple-touch-icon-144x144-precomposed.png" sizes="144x144" rel="apple-touch-icon">
      <link href="../../../../assets/icons/apple-touch-icon-120x120-precomposed.png" sizes="120x120" rel="apple-touch-icon">
      <link href="../../../../assets/icons/apple-touch-icon-114x114-precomposed.png" sizes="114x114" rel="apple-touch-icon">
      <link href="../../../../assets/icons/apple-touch-icon-76x76-precomposed.png" sizes="76x76" rel="apple-touch-icon">
      <link href="../../../../assets/icons/apple-touch-icon-72x72-precomposed.png" sizes="72x72" rel="apple-touch-icon">
      <link href="../../../../assets/icons/apple-touch-icon-60x60-precomposed.png" sizes="60x60" rel="apple-touch-icon">
      <link href="../../../../assets/icons/apple-touch-icon-57x57-precomposed.png" sizes="57x57" rel="apple-touch-icon">
      <link href="../../../../assets/icons/apple-touch-icon-precomposed.png" rel="apple-touch-icon">
      
      <!-- Windows 8 and IE 11 -->
      <meta name="msapplication-config" content="../../../../assets/icons/browserconfig.xml" />
      
      <!-- Windows -->
      <meta name="application-name" content="Represent.xyz" />
      <meta name="msapplication-tooltip" content="Let's Make Decisions Together!" />
      <meta name="msapplication-window" content="width=1024;height=768" />
      <meta name="msapplication-navbutton-color" content="#007EFF" />
      <meta name="msapplication-starturl" content="../../../../" />
      <title>Represent.xyz | <%= spherename %> | Send Emails</title>
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
      <!-- Bootstrap CSS-->
      <link rel="stylesheet" href="../../../../admin/app/css/bootstrap.css">
      <!-- Vendor CSS-->
      <link rel="stylesheet" href="../../../../admin/app/vendor/fontawesome/css/font-awesome.min.css">
      <!-- START Page Custom CSS-->
      <!-- END Page Custom CSS-->
      <!-- App CSS-->
      <style>
          textarea {
            	-webkit-box-sizing: border-box;
            	-moz-box-sizing: border-box;
            	box-sizing: border-box;
            
            	width: 100%;
            }
      </style>
      <link rel="stylesheet" href="../../../../admin/app/css/app.css">
      <!-- JavaScript Files -->
      <!-- Modernizr JS Script-->
      <!-- <script src="../admin/app/vendor/modernizr/modernizr.js" type="application/javascript"></script> -->
      <!-- JQuery -->
      <script src="../../../../admin/app/vendor/jquery/jquery.min.js"></script>
      <!-- Main vendor Scripts -->
      <script src="../../../../admin/app/vendor/bootstrap/js/bootstrap.min.js"></script>
      <!-- Google Analytics -->
      <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-61425849-1', 'auto');
		  ga('send', 'pageview');
		
	  </script>
</head>
<body class="">
   <div id="fb-root"></div>
    <!-- START Main wrapper-->
      <section class="wrapper">
         <!-- START Top Navbar-->
         <nav role="navigation" class="navbar navbar-default navbar-top navbar-fixed-top">
            <!-- START navbar header-->
            <div class="navbar-header">
               <a href="#" class="navbar-brand">
                  <div class="brand-logo">popruler</div>
                  <div class="brand-logo-collapsed">pop<br>ruler</div>
               </a>
            </div>
            <!-- END navbar header-->
            <!-- START Nav wrapper-->
            <div class="nav-wrapper">
               <!-- START Left navbar-->
               <ul class="nav navbar-nav">
                  <li>
                     <a href="#" data-toggle="aside">
                        <em class="fa fa-align-left"></em>
                     </a>
                  </li>
               </ul>
               <!-- END Left navbar-->
               <!-- START Right Navbar-->
               <ul class="nav navbar-nav navbar-right">
                  <!-- START Alert menu-->
                        <li class="dropdown">
                           <a href="javascript:void(0);" data-toggle="dropdown" data-play="bounceIn" class="dropdown-toggle" aria-expanded="false">
                              <em class="fa fa-user"></em>
                           </a>
                           <!-- START Dropdown menu-->
                           <ul class="dropdown-menu" style="">
                              <li style="padding: 20px 10px;"><a href="/me">
                                 <em class="fa fa-cog text-muted"></em>Settings</a>
                              </li>
                              <li style="padding: 20px 10px;"><a href="/logout">
                                 <em class="fa fa-sign-out text-muted"></em>Logout</a>
                              </li>
                     </ul>
                     <!-- END Dropdown menu-->
                  </li>
                  <!-- END Alert menu-->
                  <!-- END User menu-->
                  <!-- START Contacts button-->
                  <!-- <li>
                     <a href="#" data-toggle="offsidebar">
                        <em class="fa fa-align-right"></em>
                     </a>
                  </li> -->
                  <!-- END Contacts menu-->
               </ul>
               <!-- END Right Navbar-->
            </div>
            <!-- END Nav wrapper-->
         </nav>
         <aside class="aside">
         <!-- START Sidebar (left)-->
         <nav class="sidebar" style="overflow: auto;">
            <ul class="nav">
               <!-- START user info-->
               <li>
                  <div class="item user-block" id="userProfile">
                     <!-- User picture-->
                     <% if(userprofileimageurl !== null) { %>
                     <div class="user-block-picture">
                        <img src="<%= userprofileimageurl %>" alt="<%= username %>" width="60" height="60" class="img-thumbnail img-circle">
                     </div>
                     <% } %>
                     <!-- Name and Role-->
                     <div class="user-block-info">
                        <span class="user-block-name"><%= username %></span>
                     </div>
                  </div>
               </li>
               <!-- END user info-->
               <!-- START Menu-->
               <li class="">
                  <a href="/spheres" title="spheres">
                     <em class="fa fa-circle"></em>
                     <div class="label label-primary pull-right"><%= numberofuserspheres %></div>
                     <span class="item-text" style="padding-right: 15px;">Spheres</span>
                  </a>
               </li>
               <li class="">
                  <a href="/votes" title="votes">
                     <em class="fa fa-star"></em>
                     <div class="label label-primary pull-right"><%= numberofuservotescast %></div>
                     <span class="item-text" style="padding-right: 15px;">Votes</span>
                  </a>
               </li>
               <li class="">
                  <a href="/admin" title="admin">
                     <em class="fa fa-lock"></em>
                     <div class="label label-primary pull-right"><%= numberofadminactionitems %></div>
                     <span class="item-text" style="padding-right: 15px;">Admin</span>
                  </a>
               </li>
               <li class="">
                  <a href="/decisions" title="decisions">
                     <em class="fa fa-compass"></em>
                     <div class="label label-primary pull-right"><%= numberofdecisions %></div>
                     <span class="item-text" style="padding-right: 15px;">Decisions</span>
                  </a>
               </li>
               <!-- END Menu-->
               <!-- Sidebar footer -->
               <li class="nav-footer">
                  <div class="nav-footer-divider"></div>
                  <!-- START button sphere-->
                  <div class="btn-sphere text-center">
                     <button data-toggle="modal" data-target="#settingsModal" type="button" data-toggle="tooltip" data-title="Settings" class="btn btn-link">
                        <em class="fa fa-cog text-muted"></em>
                     </button>
                     <a href="/logout" type="button" data-toggle="tooltip" data-title="Logout" class="btn btn-link">
                        <em class="fa fa-sign-out text-muted"></em>
                     </a>
                  </div>
                  <!-- END button sphere-->
               </li>
            </ul>
         </nav>
         <!-- END Sidebar (left)-->
      </aside>
      <!-- End aside-->
      <!-- START Main section-->
      <section>
         <!-- START Page content-->
         <section class="main-content" style="min-height: 600px;">
            <h1 style="display: inline-block;"><a href="/sphere/<%= sphereobjectid %>"><%= spherename %></a></h1><br>
            From: 
            <span><%= username %></span>
            <br>
            To:
            <select name="emailto">
              <option value="allcurrentmembers">All Current Members</option>
              <option value="allinvitedmembers">All Invited Members</option>
              <option value="alladmins">All Admins</option>
              <option value="individuals">Individuals</option>
            </select>
            <br>
            <br>
             <div id="emailsToMemberSearch" class="hidden">
                <div class="row">
                  <div class="col-sm-5">
                    <select name="searchOptions" class="form-control input-lg">
                      <option value="memberSearchByName">Search Members By Name</option>
                      <option value="memberSearchByEmail">Search Members By Email</option>
                      <option value="inviteSearchByEmail">Search Invites By Email</option>
                    </select>
                  </div>
                  <div class="col-sm-7">
                    <input type="text" style="display: inline-block;" id="searchByMemberNameInput" placeholder="Start typing to search..." class="form-control input-lg">
                    <input type="text" style="display: inline-block;" id="searchByMemberEmailInput" placeholder="Start typing to search..." class="hidden form-control input-lg">
                    <input type="text" style="display: inline-block;" id="searchByInviteEmailInput" placeholder="Start typing to search..." class="hidden form-control input-lg">
                    <input type="hidden" name="emailSphereObjectIDInput" id="emailSphereObjectIDInput" value="<%= sphereobjectid %>">
                  </div>
                </div>
                <div class="hidden" id="emailSphereMemberSuggestionsFrame" style="display: inline-block;">
                  <button id="dismissEmailSphereMemberSuggestionsButton" class="close"><span>&times;</span></button>
                  <div id="emailSphereMemberSuggestion" style="display: inline-block;">
                  </div>
                </div>
                <div id="membersearchselections">
                  Recipients:
                  <ul id="selectedmembers" style="list-style-type: none;">
                    
                  </ul>
                </div>
            </div>
            <div id="sendemailerrorsdiv" class="alert alert-warning hidden">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <ul id="sendemailerrorslist">
                <li id="noemailsubjecterror" class="hidden">Please Provide A Subject For Your Email</li>
                <li id="noemailmessagerror" class="hidden">Please Write A Message Before Sending Your Email</li>
              </ul>
            </div>
            Subject:
            <input id="emailtocurrentmemberssubject" name="emailtocurrentmemberssubject" type="text" class="form-control" placeholder="Subject" value="">
            <br>
            Message:
            <textarea id="emailtocurrentmembersmessage" name="emailtocurrentmembersmessage" class="form-control" rows="3"></textarea>
            <br>
            <h4><a href="https://<%= appurl %>/sphere/<%= sphereobjectid %>">Go To Sphere</a></h4>
            <p><%= username %> sent this message from within Represent.xyz as an administrator of <%= spherename %>.</p>
            <br>
            <br>
          <br>
          <button id="sendemailbutton" class="btn btn-primary">Send Email</button>
         </section>
         <!-- END Page content -->
      </section>
      <!-- END Main section -->
   </section>
   <!-- END Main wrapper -->
   <!-- START Scripts -->
   <!-- App Main-->
    <script>
      $(document).ready(function() {
         $("#inviteFriends").click(function() {
            window.top.location.href = 'https://www.facebook.com/dialog/apprequests?app_id=487409348027542&message=Have%20You%20Checked%20Your%20Stats%20Recently%3F&redirect_uri=https://www.popruler.com/profile';
         });
         $("#userProfile").click(function() {
            window.location.href = '/profile';
         });
      });
   </script>
   <% include /sendEmailValidation %>
   <!-- Slimscroll-->
   <script src="../../../../admin/app/vendor/slimscroll/jquery.slimscroll.min.js"></script>
   <script src="../../../../admin/app/js/app.js"></script>
   </body>
 
</html>